*{
	margin: 0px;
}

html{
	background: #202125;
}

div.cajon{
	float: left;
	width: 72%;
	margin-left: 15%;
	margin-right: 10%;
	margin-top: 10px;
	margin-bottom: 0px;
}

div.cajon a div{
	float: left;
	background: #f3f4f8;
	width: 220px;
	height: 100px;
	border-radius: 0px 0px 30px 0px;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 40px;
	margin: 16px;
	margin-top: 2px;
	margin-bottom: 30px;
	font-size: 2em;
}

div.cajon.peque a div{
	width: 176px;
	height: 80px;
	padding: 16px;
	padding-top: 0px;
	padding-bottom: 32px;
	margin-right:10px;
	font-size: 1.6em;
}

p{
	font-family: 'Potta One', cursive;
}

div.cajon a div p{
	color: #202125;
	margin-top: 15px;
}

div.nombre{
	margin-left: 20px;
}

div.nombre p{
	color: #f3f4f8;
	margin-left: 20px:
}

div.raya{
	float: left;
	background: #f3f4f8;
	width: 75%;
	height: 1px;
	margin-left: 10%;
	margin-top: 0px;
	margin-bottom: 20px;
}
